span.knowledge-tag{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:8px;

  padding: 8px 16px;
  background-color: var(--gray-300);
  border-radius: 9999px;

  strong{
    font: var(--text-md);
    color: var(--gray-500);
  }
}

div.text-titles{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap: 8px;

  p{
    font: var(--text-md);
    color: var(--gray-500);
  }
}

span.subtitle {
  font: var(--subtitle);
  color: var(--gray-500);
}

span.red{
  color: var(--red)
}

span.purple{
  color: var(--purple)
}

h2.title{
  font: var(--title-md);
  color: var(--gray-600);
}

div.p-card{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  gap: 20px;

  height: 280px;
  width: 330px;
  border-radius:12px;
  padding-block: 12px 17px;
  padding-inline: 12px;
  border: solid 1.5px transparent;

  background-color: var(--gray-300);

  img{
  height: 156px;
  width: 306px;
  border-radius:12px;
  }

  div{
  display:flex;
  flex-direction:column;
  gap:8px;

    strong{
      font: var(--title-sm);
      color: var(--gray-600);
    }

    p{
      font: var(--text-sm);
      color: var(--gray-500);
    }
  }
}
div.p-card:hover{
  border: solid 1.5px var(--gray-400);
}

div.s-card{
  height: 155px;
  width: 280px;
  border-radius:12px;
  gap: 20px;

  padding: 20px;
  border: solid 2px var(--gray-200);

  background-color: transparent;

  img{
  height: 48px;
  width: 48px;
  }

  div{
  display:flex;
  flex-direction:column;
  gap:8px;

    strong{
      font: var(--title-sm);
      color: var(--gray-600);
    }

    p{
      font: var(--text-sm);
      color: var(--gray-500);
    }
  }
}

.contact-buttons button{
  display: flex;
  flex-direction: row;
  align-items: center;

  padding:20px;
  background-color: var(--gray-300);
  border: solid 1.5px transparent;
  border-radius: 8px;
  gap: 12px;

  div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  span{
    font: var(--text-md);
    color: var(--gray-500);
    width: 288px;
    height: 22px;
    text-align: start;
  }

   img.arrow{
    height: 20px;
    width: 20px;
  }

  &:hover {
    svg{
      stroke: var(--blue);
      fill: var(--blue);
    }
  }
}

button:hover{
  border: solid 1.5px var(--blue);

  img.icon-logo{
    height: 28px;
    width: 28px;
    color: var(--blue)
  }
}


/* Contact */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 128px 120px 200px;
gap: 48px;

width: 1366px;
height: 787px;

background: url(image.png);

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
